@model mvc_net_Crm.Models.Siniflar.Marka
@{
    ViewBag.Title = "MarkaEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Marka Ekle</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.MarkaAd)
    @Html.TextBoxFor(x => x.MarkaAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Durum)
    @*Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })*@
    @Html.DropDownListFor(x => x.Durum, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Kaydet</button>

</form>
