@using mvc_net_Crm.Models.Siniflar;
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Kategori Listesi</h2>
<br />
<table class="table table-striped table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Kategori Adi</th>
        <th style="width: 150px" align="center">#</th>
        <th style="width: 150px" align="center">#</th>
        <th style="width: 150px" align="center">#</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.KategoriID
            </td>
            <td>
                @k.KategoriAd
            </td>
            <td>
                @k.Durum
            </td>
            <td align="center">
                <a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-success"><i class="fas fa-database"></i> Guncelle</a>
            </td>
            <td align="center">
                <a href="/Kategori/KategoriSil/@k.KategoriID" class="btn btn-danger" align="right"><i class="fas fa-trash"></i> Sil</a>
            </td>
        </tr>
    }
</table>
<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori Ekle</a>
